<section id="container" class="vh-100" style="background-color: #4B515D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div  class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6  class="flex-grow-1"> <span *ngIf="tiempoCiudad">{{tiempoCiudad.name}}, {{tiempoCiudad.sys.country}}</span></h6>
              <h6>{{hora}}</h6>
            </div>
            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6  class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"><span *ngIf="tiempoCiudad">{{tiempoCiudad.main.temp}}°C</span></h6>
              <span class="small" style="color: #868B94"><span *ngIf="tiempoCiudad">{{tiempoCiudad.weather[0].main}}</span></span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">Viento a: <span *ngIf="tiempoCiudad">{{tiempoCiudad.wind.speed}}</span> km/h
                  </span></div>
                <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1">Humedad: <span *ngIf="tiempoCiudad">{{tiempoCiudad.main.humidity}}</span> % </span>
                </div>
                <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">T. mínima: <span *ngIf="tiempoCiudad">{{tiempoCiudad.main.temp_min}}</span> °C</span>
                </div>
                <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">T. máxima: <span *ngIf="tiempoCiudad">{{tiempoCiudad.main.temp_max}}</span> °C</span>
                </div>
              </div>
              <div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                  width="100px">
              </div>
            </div>
          </div>
        </div>
        <form class="mb-3 d-flex flex-column text-center mt-4" (submit)="submitLocation(ciudad)">
          <div class="form-group">
          <input type="text" #ciudad class="form-control" placeholder="Ingrese el nombre de la ciudad">
          <button class="btn btn-dark mt-3">Buscar</button>
        </div>
        </form>
      </div>
      
    </div> 
    <footer>
      <ul class="list-inline text-center">
          <p id="copyright" class="copyright">WeatherApp © 2022</p>
      </ul>
  </footer>
  </div>
</section>